/**
 * Text Block
 */
.text-block {
  p,
  ul,
  ol,
  figure {
    margin-bottom: 1.66667em;
  }

  iframe[src*='vimeo.com'],
  iframe[src*='youtube.com'] {
    display: block;
    margin-bottom: 1.66667em;
  }

  blockquote {
    font-size: 1.33333em;
    line-height: 1.4;
    margin: 1.66667em 0;
    &:before {
      color: transparent;
    }
  }

  pre {
    margin: 1.875em 0;
  }

  hr {
    margin: 2.22222em 0;
  }

  blockquote,
  pre,
  hr {
    &:first-child {
      margin-top: 0;
    }
  }
}
.quotation {
  font-size: 30px;
  // //margin: 0 auto;
  // quotes: '\201C''\201D''\2018''\2019';
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: $color-primary;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: $color-primary;
  font-size: 3em;
}
