$color: rgba(13, 204, 13, 0.76);
$color-hover: rgb(0, 0, 0);
$bg-color: rgb(255, 255, 255);
$bg-color-hover: rgb(88, 216, 255);

/* Fira Sans */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/** NAVIGATION BAR */
.navbar {
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $bg-color;
  padding: 0.3em;

  ul {
    padding: 15px;
    li {
      display: inline;
      font-family: 'Fira Sans', sans-serif;
      font-size: 17px;
      text-transform: uppercase;

      a {
        color: $color;
        padding: 14px;
        &:hover {
          color: $color-hover;
          background-color: $bg-color-hover;
        }
      }
    }
  }
  // /** NAVBAR LOGO */
  .logo {
    display: flex;
    align-items: center;
    div {
      text-align: center;
      margin-left: 0.5em;
      text-transform: uppercase;
      letter-spacing: 3px;

      .topName {
        color: $color;
        font-size: 2em;
        font-weight: 700;
      }
      .bottomName {
        font-weight: 600;
      }
    }
  }
}
